body{
    font-family: Arial, Verdana;
    background: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0px 20px;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
    
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    text-align: center;
    border-color: #FFFFFF;
    border: 10px;
    border-style: dashed;
}

div{
    min-height: 125px;
    padding: 20px;
    border-color: #FFFFFF;
    border: 3px;
}

.introduction{
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 5px;
    border-right: 0px;
}

.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-style: solid;
    border-bottom: 2px;
    border-left: 5px;    
}

.blue p, .blue h2{
    color: #C4C4C4
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border-top: 2px;
    border-right: 5px;
}

.yellow p, .yellow h2{
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-style: solid;
    border-bottom: 2px;
    border-left: 5px;
}

footer{
    border: 5px solid #FFFFFF;
    background-image: linear-gradient(90deg, #000000, #0000ff, #0066ff, #000000)
}

footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}